<div id="headerWrapper">
    <h1 class="mainPageHeading"><img src="img/stlIcon.png"><span>STL Brew Review</span></h1>

    <div id="backButton">
        <div id="backButtonText"></div>
    </div>
</div>


<ul id="beerDetailsTop" class="panel">
    <li id="beerLogoWrapper"></li>
    <li id="beerDescription"></li>
</ul>
<div id="beerDetailsBottom" class="panel">
    <ul id="beerStats">
        <li>
            <dt>ABV:</dt>
            <dd></dd>
        </li>
        <li>
            <dt>IBU:</dt>
            <dd></dd>
        </li>
        <li>
            <dt>OG:</dt>
            <dd></dd>
        </li>
        <li>
            <dt>SRM:</dt>
            <dd></dd>
        </li>
    </ul>
    <ul id="beerDetails">
        <li>
            <dt>Appearance:</dt>
            <dd></dd>
        </li>
        <li>
            <dt>Process:</dt>
            <dd></dd>
        </li>
        <li>
            <dt>Hops:</dt>
            <dd></dd>
        </li>
        <li>
            <dt>Malts:</dt>
            <dd></dd>
        </li>
        <li>
            <dt>Yeast:</dt>
            <dd></dd>
        </li>
    </ul>
</div>