<div id="headerWrapper">
    <h1 class="mainPageHeading">List of Beers</h1>

    <div id="backButton">
        <div id="backButtonText"></div>
    </div>
</div>


<ul id="beerList" class="panel">
    {{#beers}}
        <li onclick="getAndRenderBeerDetails({{key}})">{{ name }}</li>
    {{/beers}}
</ul>