<div id="headerWrapper">
    <button id="backButton2"
            onclick="backButtonClicked(2)"
            data-previous-page="breweryDetailsScreen">Brewery Details</button>
    <h1 class="mainPageHeading"><div class="noImage">List of Beers</div></h1>
</div>


<ul id="beerList" class="panel">
    {{#beers}}
        <li onclick="getAndRenderBeerDetails({{key}})">{{ name }}</li>
    {{/beers}}
</ul>