<div id="headerWrapper">
    <h1 class="mainPageHeading">{{name}}</h1>
</div>


<ul id="beerDetailsTop" class="panel">
    <li id="beerLogoWrapper"><img src="{{image_url}}"></li>
    <li id="beerDescription"><p>{{description}}</p></li>
</ul>
<div id="beerDetailsBottom" class="panel">
    <ul id="beerStats">
        <li>
            <dt>ABV:</dt>
            <dd>{{abv}}</dd>
        </li>
        <li>
            <dt>IBU:</dt>
            <dd>{{ibu}}</dd>
        </li>
        <li>
            <dt>OG:</dt>
            <dd>{{og}}</dd>
        </li>
        <li>
            <dt>SRM:</dt>
            <dd>{{srm}}</dd>
        </li>
    </ul>
    <ul id="beerDetails">
        <li>
            <dt>Appearance:</dt>
            <dd>{{appearance}}</dd>
        </li>
        <li>
            <dt>Process:</dt>
            <dd>{{process}}</dd>
        </li>
        <li>
            <dt>Hops:</dt>
            <dd>{{hops}}</dd>
        </li>
        <li>
            <dt>Malts:</dt>
            <dd>{{malts}}</dd>
        </li>
        <li>
            <dt>Yeast:</dt>
            <dd>{{yeast}}</dd>
        </li>
    </ul>
</div>