<div id="headerWrapper">
    <button id="backButton" onclick="backButtonClicked(1)" data-previous-page="breweryListScreen">Back</button>
    <h1 class="mainPageHeading"><div class="noImage">{{name}}</div></h1>
</div>


<ul id="breweryDetails" class="panel">
    <br/>
    <li id="descriptionWrapper">
        <p>
            <img src="{{image_url}}">
            {{description}}
        </p>
    </li>

    <li id="beerLink" data-short-name="{{short_name}}" onclick="parseBeersAndGenerateBeerList(this)">Beer</li>

</ul>

<ul id="breweryLinks" class="panel">
    <li onclick="goURL('http://maps.google.com/maps?q={{address}}')">
        View Location
    </li>
    <li onclick="goURL('tel:{{phone}}')">
        Call Phone
    </li>
    <li onclick="goURL('mailto:{{email}}')">
        Email
    </li>
    <li onclick="goURL('{{website_url}}')">
        View Website
    </li>
    <li onclick="goURL('http://twitter.com/{{twitter_handle}}')">
        View Tweets
    </li>
    <li onclick="goURL('{{facebook_url}}')">
        View Facebook
    </li>
</ul>