<div id="headerWrapper">
    <button id="backButton3"
            onclick="backButtonClicked(3)"
            data-previous-page="breweryDetailsScreen">Back</button>

    <h1 class="mainPageHeading"><div class="noImage">Awww, snap</div></h1>
</div>

<div id="noBeer" class="panel">
    Looks like this brewery doesn't have any beer.
</div>
