html {
    background: url('../img/darkWoodGrain.jpg');
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.panel {
    width: 95%;
    margin: 2.5%;
    background: white;
    text-align: left;
    list-style: none;
    border-radius: 5px;
}

li {
    font-size: 1em;
    font-weight: bold;
    color: #000000;
    padding: 24px 0;
}

a {
    color: #000000;
    text-decoration: none;
}

#breweryList li {
    border-bottom: 1px solid #ccc;
    padding: 24px 5%;
    background: url('../img/arrow.jpg') no-repeat 95% 50%;

}

#breweryList li:last-child {
    border-bottom: none;
}

/*#backButton {
    position: absolute;
    cursor: pointer;
    font-size: .75em;
    padding: 0 15px;
    color: white;
    height: 30px;
    border-radius: 5px;
    top: 5px;
    left: 10px;
    display: none;
    background: url('../img/buttonBg.jpg');
}

#backButton #backButtonText {
    position: relative;
    top: 10px;
}

#backButton.active {
    display: block;
}*/

li.item {
    padding: 24px 5%;
    display: block;
    width: 90%;
    border-bottom: 1px solid #ccc;
    z-index: 3;
    cursor: pointer;
    background: url('../img/arrow.jpg') no-repeat 95% 50%;
}


li.beer {
    z-index: 3;
}
li:last-child {
    border: none;
}

ul#breweryLinks {
    text-align: center;
    margin-top: 2.5%;
}

ul#breweryLinks li {
    display: block;
    border-bottom: 1px solid #ccc;
}

ul#breweryLinks li:last-child {
    border-bottom: none;
}


#breweryListScreen,
#breweryDetailsScreen,
#beerListScreen,
#beerDetailsScreen {
    /*display: none;*/
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    -webkit-transition-duration: 600ms;
    -webkit-transition-property: opacity 0;
    -webkit-transform: translate(100%, 0px);
}


#breweryListScreen.active,
#breweryDetailsScreen.active,
#beerListScreen.active,
#beerDetailsScreen.active {
    -webkit-transform: translate(0px, 0px);
}

#breweryListScreen.previousScreen,
#breweryDetailsScreen.previousScreen,
#beerListScreen.previousScreen,
#beerDetailsScreen.previousScreen {
    display: none;
   /*-webkit-transform: translate(100%, 0);*/
}


p.description {
    padding: 10px;
    line-height: 1.25em;
}

#headerWrapper {
    width: 100%;
    height: 40px;
    background: #222222;
    vertical-align: middle;
}

#headerWrapper button {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 10;
}

.screen #headerWrapper {
    color: white;
    font-weight: normal;
    text-align: center;
    position: fixed;
    top: 0;
}

h1 img {
    padding: 3px;
    margin-left: 5%;

}

h1 span {
    position: relative;
    bottom: 10px;
}

h1 .noImage {
   position: relative;
    top: 10px;
}

#breweryDetailsLinksWrapper {
    background: transparent;
}

#breweryDetails {
    border-radius: 5px;
}

#breweryDetails li {
    padding: 0;
    margin: 0;
}


#logoWrapper {
    height: 100px;
    width: 100%;
    display: block;

    border: none;
    background: transparent;
}

#logoWrapper img {
    text-align: center;
    display: block;
    margin: 0 auto;
    height: 100%;
}

#descriptionWrapper p {
    font-weight: normal;
    margin: 15px;
    line-height: 1.25em;
    min-height: 125px;

}

#descriptionWrapper p img {
    width: 25%;
    max-width: 125px;
    float: left;
    margin-right: 8px;
    margin-bottom: 5px;
}

#breweryDetails li#beerLink {
    border-top: 1px solid #ccc;
    padding: 24px 5%;
    background: url('../img/arrow.jpg') no-repeat 95% 50%;
    cursor: pointer;
}

#beerList, #breweryDetails, #breweryListWrapper, #beerDetailsTop {
    margin-top: 50px;
}
#beerList li {
    border-bottom: 1px solid #ccc;
    background: url('../img/arrow.jpg') no-repeat 95% 50%;
    padding: 24px 5%;
    cursor: pointer;
}

#beerList li:last-child {
    border: none;
}

#beerStats {
    margin-bottom: 20px;

}

#beerDetailsTop li {
    padding: 0;
    margin: 0;
}

#beerDetailsTop, #beerDetailsBottom {
    padding:2.5% 0;
}
#beerDetailsTop {
    width: 90%;
    padding: 2.5%;
    margin: 2.5%;
    margin-top: 50px;
}

#beerStats li,
#beerDetails li{
    padding: 0 2.5%;
    margin: 0 8px 0 0;
    display: inline-block;
}

#beerDetails li{
    margin: 5px 0 15px 0;
    display: block;
}

#beerStats li dd,
#beerDetails li dd{
    font-weight: normal;
}
#beerStats li dd, #beerStats li dt {
    display: inline-block;
}
#beerDetailsTop li#beerLogoWrapper {
    width: 100px;
    display: block;
    margin: 0 auto 10px auto;
}
#beerLogoWrapper img {
    width: 100%;
}

#beerDescription {
    font-weight: normal;
    line-height: 1.25em;
}











