html {
    background: url('../img/darkWoodGrain.jpg');
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.panel {
    width: 95%;
    margin: 2.5%;
    background: white;
    text-align: left;
    list-style: none;
    border-radius: 5px;
}

#breweryListWrapper,
#breweryDetailsLinksWrapper,
#beerListWrapper,
#beerDetailsWrapper {
    display: none;
    width: 100%;
}
#beerDetailsWrapper {
    width: 100%;
}

li {
    font-size: 1em;
    font-weight: bold;
    color: #000000;
    padding: 24px 0;
}

a {
    color: #000000;
    text-decoration: none;
}

#backButton {
    position: absolute;
    cursor: pointer;
    font-size: .75em;
    padding: 0 15px;
    color: white;
    height: 30px;
    border-radius: 5px;
    top: 5px;
    left: 10px;
    display: none;
    background: url('../img/buttonBg.jpg');
}

#backButton #backButtonText {
    position: relative;
    top: 10px;
}

#backButton.active {
    display: block;
}

li.item {
    padding: 24px 5%;
    display: block;
    width: 90%;
    border-bottom: 1px solid #ccc;
    z-index: 3;
    cursor: pointer;
    background: url('../img/arrow.jpg') no-repeat 95% 50%;
}


li.beer {
    z-index: 3;
}
li:last-child {
    border: none;
}

ul#breweryLinks {
    text-align: center;
    margin-top: 2.5%;
}

ul#breweryLinks li {
    border-bottom: 1px solid #ccc;
}

ul#breweryLinks li:last-child {
    border: none;
}

#breweryListWrapper.active,
#breweryDetailsLinksWrapper.active,
#beerListWrapper.active,
#beerDetailsWrapper.active {
    display: block;
}

p.description {
    padding: 10px;
    line-height: 1.25em;
}

#headerWrapper {
    width: 100%;
    height: 40px;
    background: #222222;;
}

h1 {
    color: white;
    font-weight: normal;
    text-align: center;
}

h1 img {
    padding: 3px;
    margin-left: 5%;
}

h1 span {
    position: relative;
    bottom: 10px;
}

#breweryDetailsLinksWrapper {
    background: transparent;
}

#breweryDetails {
    border-radius: 5px;
}

#breweryDetails li {
    padding: 0;
    margin: 0;
}


#logoWrapper {
    height: 100px;
    width: 100%;
    border: none;
    background: transparent;
    padding: 0;
    margin: 0;
}

#logoWrapper img.breweryLogo {
    text-align: center;
    display: block;
    margin: 0 auto;
    height: 100%;
}

#descriptionWrapper {
    font-weight: normal;
    background: transparent;
}

#breweryDetails li#beerLink {
    border-top: 1px solid #ccc;
    padding: 24px 5%;
    background: url('../img/arrow.jpg') no-repeat 95% 50%;
    cursor: pointer;
}
#beerList li {
    border-bottom: 1px solid #ccc;
    background: url('../img/arrow.jpg') no-repeat 95% 50%;
    padding: 24px 5%;
    cursor: pointer;
}

#beerList li:last-child {
    border: none;
}

#beerStats {
    margin-bottom: 20px;

}

#beerDetailsTop li {
    padding: 0;
    margin: 0;
}

#beerDetailsTop, #beerDetailsBottom {
    padding:2.5% 0;
}
#beerDetailsTop {
    width: 90%;
    padding: 2.5%;
    margin: 2.5%;
}

#beerStats li,
#beerDetails li{
    padding: 0 2.5%;
    margin: 0 8px 0 0;
    display: inline-block;
}

#beerDetails li{
    margin: 5px 0 15px 0;
    display: block;
}

#beerStats li dd,
#beerDetails li dd{
    font-weight: normal;
}
#beerStats li dd, #beerStats li dt {
    display: inline-block;
}
#beerDetailsTop li#beerLogoWrapper {
    width: 100px;
    display: block;
    margin: 0 auto 10px auto;
}
#beerLogoWrapper img {
    width: 100%;
}

#beerDescription {
    font-weight: normal;
    line-height: 1.25em;
}