html {
    background: url('../img/darkWoodGrain.jpg');
font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

ul.contentPanel {
    background: white;
    text-align: center;
    list-style: none;
    border-radius: 10px;
    width: 95%;
    margin: 2.5%;

}

ul.contentPanel li.item {
    padding: 10px 0;
    display: block;
    width: 100%;
    border-bottom: 1px solid black;
    z-index: 3;
    cursor: pointer;
}

ul.contentPanel li:last-child {
    border: none;
}

ul#breweryList {
    position: absolute;
    z-index: 1;
    left: 100%;
}

ul#breweryDetails {
    height: 100px;
    position: absolute;
    z-index: 1;
    right: 100%;
}

ul#breweryDetails.active,
ul#breweryList.active{
    position: absolute;
    left: 0%;
    z-index: 1;
}

h1 {
  width: 100%;
    background: #222222;
    color: white;
    font-weight: normal;
}

h1 img {
    padding: 3px;
    margin-left: 5%;
}

h1 span {
    position: relative;
    bottom: 10px;
}